h1{
  background-color: hsl(0, 0%, 20%);
  color: rgb(255, 254, 206);
  font-size: 28px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p{
  background-color: rgb(255, 254, 206);
  color: hsl(0, 0%, 20%);
}

body{
  background-color:rgb(255, 254, 206);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(172, 23, 23);
  
}

footer{
  text-align: center;
  font-size: 8pt;
}

ol{
  list-style: lower-roman;
  margin-top: 10px;
  margin-left: 50px;
}

ul{
  list-style-type: disc;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: hsl(0, 0%, 20%)
}

h2{
  display: inline;
}

h3{
  display: inline;
}

table{
  width: 50px;
}

thead{
  color:black;
  font-style:italic;
}

td, tr, th {
  margin: 1px;
  border: 1px;
  border-color: rgb(181, 223, 157); 
  border-style: solid;
  padding: 5px;
}

tfoot > * {
  color: black;
}